<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ooad.demo.mapper.AssignmentMapper">

    <cache/>

    <select id="queryAssignmentList" resultType="Assignment">
    select * from assignment
    </select>

    <select id="selectAssignmentById" resultType="Assignment">
    select * from assignment where assignment_id = #{id}
    </select>

    <insert id="addAssignment" parameterType="Assignment">
    insert into assignment(assignment_name, assignment_create_time, assignment_start_time, assignment_end_time, assignment_description)
    values (#{assignment_name}, #{assignmet_create_time},#{assignment_start_time}, #{assignment_end_time}, #{assignment_description})
    </insert>


    <delete id="deleteAssignment" parameterType="int">
        delete from assignment
        where assignment_id = #{id}
    </delete>


</mapper>