<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ooad.demo.mapper.DataBaseMapper">

    <cache/>

   <select id="selectDatabaseById" resultType="Database">
       select * from database
       where database_id = #{database_id}
   </select>

    <insert id="addDatabase" parameterType="Database">
    insert into database (user_file_id, database_remote_path, database_remote_name, database_name, database_description)
        values (#{user_file_id}, #{database_remote_path}, #{database_remote_name}, #{database_name}, #{database_description});
    </insert>

</mapper>

