<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ooad.demo.mapper.QuestionTriggerMapper">

    <cache/>

    <update id="updateQuestionTrigger" parameterType="QuestionTrigger">

        select * from update_question_trigger(
        #{question_id}, #{ans_table_file_id}, #{test_data_file_id}, #{target_table}, #{test_config});

    </update>


    <select id="getTriggerQuestionJudgeInfoByQid" resultType="java.util.Map">
        select uf1.remote_full_path as ans_table_file_full_path, uf2.remote_full_path as test_data_file_full_path,
            qt.target_table, cast(qt.test_config as varchar)
        from question q
        join question_trigger  qt on q.question_id = qt.question_id
            join user_files uf1 on qt.ans_table_file_id = uf1.id
            join user_files uf2 on qt.test_data_file_id = uf2.id
        where q.question_id = #{question_id} and is_enabled = true;
    </select>

    <insert id="addQuestionTrigger" parameterType="QuestionTrigger">
        insert into question_trigger (question_id, ans_table_file_id, test_data_file_id, test_config, target_table)
            VALUES (#{question_id}, #{ans_table_file_id}, #{test_data_file_id}, #{test_config}, #{target_table})
    </insert>


</mapper>