<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ooad.demo.mapper.QuestionMapper">

<!--    <cache/>-->

    <!--  no question_description return-->
    <select id="queryQuestionList" resultType="Question">
    select question_id, question_name, question_of_assignment, question_output,
    question_index, question_standard_ans, database_id, id,
     is_visible, operation_type, question_score
    from question
    where is_enabled = true;
    </select>

    <select id="getDDL" resultType="java.sql.Timestamp">
        select  a.assignment_end_time from question q
            join assignment a on a.assignment_id = q.question_of_assignment
            where q.question_id = #{question_id}
            and a.is_enabled = true and q.is_enabled = true
            and a.is_visible = true and q.is_visible = true;
    </select>

    <select id="getInfoForJudge" resultType="Question">
    select q.question_id, q.question_standard_ans, q.database_id, q.operation_type,
    q.is_order, question_sql_type, q.is_visible, q.is_enabled
    from question q
    where q.question_id = #{question_id} and is_enabled = true;
    </select>

    <select id="selectQuestionById" resultType="Question">
    select question_id, question_name,
    question_of_assignment, question_description,
    question_output, question_index, operation_type, is_order, question_sql_type, question_score from question
    where question_id = #{question_id} and is_enabled = true;
    </select>

    <insert id="addQuestion" parameterType="Question" useGeneratedKeys="true" keyProperty="question_id" keyColumn="question_id">
    insert into question (question_name, question_of_assignment,
    question_output, question_description, question_index, question_standard_ans, database_id,
    is_visible, operation_type, is_order, question_sql_type, question_score)
    values (#{question_name}, #{question_of_assignment}, #{question_output}, #{question_description},
     #{question_index}, #{question_standard_ans}, #{database_id}
      , #{is_visible}, #{operation_type}, #{is_order}, #{question_sql_type}, #{question_score})
    </insert>


    <update id="updateQuestion" parameterType="Question">
        update question
        <trim prefix="set" suffixOverrides=",">
<!--&#45;&#45;             <if test="id!=null">id=#{id},</if>-->

<!--&#45;&#45;             <if test="question_id!=null">question_id=#{question_id},</if>-->
            <if test="question_name!=null">question_name=#{question_name},</if>
            <if test="question_of_assignment!=null">question_of_assignment=#{question_of_assignment},</if>
            <if test="question_output!=null">question_output=#{question_output},</if>
            <if test="question_description!=null">question_description=#{question_description},</if>
            <if test="question_index!=null">question_index=#{question_index},</if>
            <if test="question_standard_ans!=null">question_standard_ans=#{question_standard_ans},</if>
            <if test="database_id!=null">database_id=#{database_id},</if>
            <if test="is_visible!=null">is_visible=#{is_visible},</if>
            <if test="operation_type!=null">operation_type=#{operation_type},</if>
            <if test="is_order!=null">is_order=#{is_order},</if>
            <if test="question_sql_type!=null">question_sql_type=#{question_sql_type},</if>
            <if test="question_score!=null">question_score=#{question_score},</if>

            <!--            <if test="is_enabled!=null">is_enabled=#{is_enabled},</if>-->
        </trim>
        where question_id=#{question_id}

    </update>


    <update id="disableQuestion">
        update question
            set is_enabled = false
        where question_id = #{question_id}
    </update>

    <delete id="deleteQuestion" parameterType="int">
        update question
            set is_enabled = false,
            set is_visible = false
        where id = #{question_id};
--         delete from question
--         where question_id = #{question_id}
    </delete>

<!--    <cache-ref namespace="ooad.demo.mapper.RecordMapper"/>-->

    <select id="selectQuestionsByAssignment" resultType="Question" useCache="false">
    select  distinct q.question_id, q.question_name,
            q.question_of_assignment,
            q.question_index, question_sql_type,
            operation_type, q.question_score,
        case
            when r.record_status is null then 0
            when r.record_status = -1 then 0
            else 1 end
            as is_finished
    from
        question q left outer join record r on q.question_id = r.record_question_id and record_sid = #{sid} and record_status = 1
    where  q.question_of_assignment = #{assignment_id} and q.is_enabled = true
    order by q.question_index asc;
    </select>

    <cache/>

</mapper>