<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ooad.demo.mapper.RecordMapper">

    <cache/>


    <select id="queryRecordList" resultType="Record">
    select * from record
    </select>

    <select id="selectRecordBySid" resultType="Record">
    select * from record where record_sid = #{sid}
    </select>

    <select id="selectRecordBySidAndQuestion" resultType="Record">
    select * from record where record_sid = #{sid} and record_question_id = #{question_id}
    </select>


    <select id="selectRecordBySidAndAssignment" resultType="Record">
    select * from record r
        join question q on r.record_question_id = q.question_id
        where r.record_sid = #{sid} and q.question_of_assignment = #{assignment_id}
    </select>


    <select id="judge" parameterType="string" resultType="java.util.Map">
    -- Check the set operation without sorting
    select *
    from (
    -- STAND_ANS EXCEPT STUDENT_ANS
             select *
             from (
    --STANDARD_SQL:
                  ${standard}
    -- EXCEPT INPUT_SQL:
                  ) STAND_ANS1
                 except
             select *
             from (
    -- INPUT_SQL:
                  ${code}
                  ) INPUT_ANS1
         ) EXCEPT_ANS1
    UNION ALL
    select *
    from (
    -- STUDENT_ANS EXCEPT STAND_ANS
             select *
             from (
    -- INPUT_SQL:
                 ${code}
                  )INPUT_SQL2
                 except
             select *
             from (
    -- STANDARD_SQL
                  ${standard}
                  ) STANDARD_SQL2
         ) a;

        </select>

    <insert id="addRecord" parameterType="Record">
    insert into record(record_sid, record_question_id, record_status, record_time, record_code, record_code_type)
    values (#{sid}, #{question_id}, #{record_status}, #{time}, #{code}, #{type})
    </insert>


    <delete id="deleteRecord">
        delete from record
        where record_question_id = #{question_id} and record_sid = #{sid}
    </delete>

</mapper>