<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ooad.demo.mapper.UserMapper">

    <cache/>

    <update id="setLastLoginTime">
        update user_db
        set last_login_time = current_timestamp
        where sid = #{sid}
    </update>

    <select id="queryUserDBList" resultType="UserDB">
    select sid, user_name, last_login_time, created_time from user_db
    where enabled = #{1}
    </select>

    <select id="queryAllUserDBList" resultType="UserDB">
    select sid, user_name, last_login_time, created_time from user_db
    </select>

    <select id="selectUserDBBySidBasicInfo" resultType="UserDB">
    select sid, user_name, last_login_time, created_time, enabled from user_db
    where sid = #{sid}
    </select>


    <select id="getPwd" resultType="String">
    select sid from user_db where sid = #{sid}
    </select>

    <select id="selectUserDBByName" resultType="UserDB">
    select user_name from user_db where user_name = #{user_name}
    </select>

    <select id="selectUserDBBySidAllInfo" parameterType= "int" resultType="UserDB">
    select sid, user_name, enabled, user_password from user_db where sid = #{sid}
    </select>

    <select id="getTodayUserLoginCount" resultType="java.lang.Integer">
        select * from get_today_user_login_count();
    </select>

    <insert id="addUserDB" parameterType="UserDB">
    begin;
    insert into user_db(sid, user_name, user_password)
    values (#{sid}, #{user_name}, #{user_password});
    insert into authorities(user_id, authority)
    values (#{sid}, #{authority, jdbcType=VARCHAR});
    commit;
    </insert>

    <update id="updateUserDBName">
    update user_db set user_name=#{user_name} where sid = #{sid}
    </update>

    <update id="resetUserDBPassword">
    update user_db set user_password=#{pwd} where sid = #{sid}
    </update>

    <delete id="deleteUserDB" parameterType="int">
        delete from user_db
        where sid = #{sid}
    </delete>


</mapper>