<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ooad.demo.mapper.UserFileMapper">

    <cache/>

    <select id="getAllFileInfo" resultType="UserFile">
     select * from user_files
    </select>

    <select id="findByUserId" resultType="UserFile">
        select * from  user_files
        where user_id = ${id}
    </select>

    <select id="findByFileId" resultType="UserFile" >
        select * from  user_files
        where id = ${id}
    </select>


    <insert id="save" parameterType="UserFile">
    insert into user_files (old_file_name, new_file_name, ext, relative_path, file_size, file_type,
    is_img, down_counts, upload_time, user_id, question_id, assignment_id, sort_num)
    values (#{old_file_name},
    #{new_file_name}, #{ext}, #{relative_path}, #{file_size},
    #{file_type}, #{is_img}, #{down_counts},
    #{upload_time}, #{user_id}, #{question_id}, #{assignment_id}, #{sort_num})
    </insert>

    <delete id="delete">
        delete from user_files
        where id = #{id}
    </delete>

    <update id="update" parameterType="UserFile">
        update user_files
        set down_counts = #{down_counts}
        where id = #{id}
    </update>

    <select id="getLocalRealPath" resultType="UserFile">
        select relative_path, new_file_name
        from user_files
        where id = #{file_id}
    </select>

</mapper>