<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ooad.demo.mapper.UserMapper">



    <cache/>

    <select id="queryUserDBList" resultType="UserDB">
    select * from user_db
    </select>

    <select id="getPwd" resultType="String">
    select user_password from user_db where sid = #{sid}
    </select>

    <select id="selectUserDBByName" resultType="UserDB">
    select * from user_db where user_name = #{user_name}
    </select>

    <select id="selectUserDBBySid" parameterType= "int" resultType="UserDB">
    select * from user_db where sid = #{sid}
    </select>

    <insert id="addUserDB" parameterType="UserDB">
    begin;
    insert into user_db(sid, user_name, user_password)
    values (#{sid}, #{user_name}, #{user_password});
    insert into authorities(user_id, authority)
    values (#{sid}, #{authority, jdbcType=VARCHAR});
    commit;
    </insert>

    <update id="updateUserDBName">
    update user_db set user_name=#{user_name} where sid = #{sid}
    </update>

    <update id="resetUserDBPassword">
    update user_db set user_password=#{pwd} where sid = #{sid}
    </update>

    <delete id="deleteUserDB" parameterType="int">
        delete from user_db
        where sid = #{sid}
    </delete>


</mapper>