<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ooad.demo.mapper.UserFileMapper">

    <cache/>

    <select id="getAllFileInfo" resultType="UserFile">
     select * from user_files
        where is_exist = true
    </select>

    <select id="findByUserId" resultType="UserFile">
        select * from  user_files
        where user_id = ${id} and is_exist = true
    </select>

    <select id="findByFileId" resultType="UserFile" >
        select * from  user_files
        where id = ${id} and is_exist = true
    </select>

<!--TODO: double check here! -->
    <insert id="save" parameterType="UserFile" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into user_files (old_file_name, new_file_name, ext, relative_path, file_size, file_type,
    is_img, down_counts, upload_time, user_id, question_id, assignment_id, is_database)
    values (#{old_file_name},
    #{new_file_name}, #{ext}, #{relative_path}, #{file_size},
    #{file_type}, #{is_img}, #{down_counts},
    #{upload_time}, #{user_id}, #{question_id}, #{assignment_id}, #{is_database})
    </insert>

    <update id="delete" parameterType="Integer">
        update user_files
            set is_exist = false
            where id = #{id};
    </update>

    <update id="updateDownCount" parameterType="UserFile">
        update user_files
        set down_counts = #{down_counts}
        where id = #{id}
    </update>

    <update id="setIsInRemoteStatusAndPath">
    update user_files
        set is_in_remote = #{status},
        remote_full_path = #{remote_full_path}
    where id = #{file_id};
    </update>

    <select id="getLocalRealPath" resultType="UserFile">
        select relative_path, new_file_name
        from user_files
        where id = #{file_id}
    </select>

    <select id="getRemoteFileInfo" resultType="ooad.demo.pojo.UserFile">
        select old_file_name, file_size, upload_time, user_id from user_files
        where is_in_remote = true and is_exist = true;
    </select>

</mapper>