<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ooad.demo.mapper.VerifyCodeMapper">



    <cache/>

    <select id="getVerifyCode" resultType="VerifyCode">
    select * from verify_code
    where user_id = #{user_id}
    order by cid desc
    limit 1;
    </select>

    <insert id="insertVerifyCode">
   insert into verify_code (user_id, v_code, created_time)
            values (#{user_id, jdbcType=INTEGER}, #{v_code, jdbcType=INTEGER}, current_timestamp);
    </insert>


</mapper>